
.overlay{
    background-image: url('/assets/hero.svg');
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
}

.mission{
    background-image: url('/assets/mission.svg');
    background-size: 100%;
    background-position: 0 0%;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1440px) and (min-width: 1025px){

    .mission{
        background-position: 0 -500%;
    }
}

@media only screen and (max-width: 1025px) and (min-width: 768px){

    .mission{
        background-position: 0 -350%;
    }
}

/* Smallest screens */
@media only screen and (max-width: 425px){
    .overlay{
        background-size: 140%;
        background-position: 50% -90%; 
    }  

    .mission{
        background-position: 0 130%;
    }
}